/* assignment week-2 filename = hw1.css */
html {
  -webkit-box-sizing: borderbox;
  -moz-box-sizing: borderbox;
  -box-sizing: borderbox
}

body {
  font-family: Georgia, Verdana, Helvetica, sans-serif;
	display: table;
	margin: 2em;
  padding: 2%;
}

header {
	background-image: url("../images/flywheel.jpg");
  width: 100%;
  height: 150px;
  background-color: #e3df5c;
	border-radius: 2px;
	padding-top:2em;
	padding-bottom: 1em;
	margin-top: 0px;
	margin-left: 16px;
	margin-right: 36px;
	margin-bottom: 0px;
}

h1 {
  text-transform: uppercase;
	text-align: center;
  font-size: 200%;
	padding-top: 10px;
	color: #FFFFFF;
}

/*  ||  NAVIGATION */

nav {
text-align: center;
}

nav a {
  background-color: #e9d43d;
  color: #ffffff;
  padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	margin-right: 4%;
	margin-bottom: auto;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  display: inline-block;
}

nav a:hover {
  background-color: #4CAF50; /* green */
}

.active {
  background-color: #090987; /*blue */

}

aside {
  box-sizing: border-box;
  border: 10px solid #ffc0cb;
  background-color: #ffc0cb;
  display:inline-block;
  width:25%;
  min-width: 210px;
  margin: 0 auto;
  margin-right: 5px;
  margin-left: 15px;
  height: 100vh;
  overflow: auto;

}

img {
  display: inline-block;
	width: 75%;
	height:auto;
	border: 2px solid #000;
	object-fit: contain;
	object-position:center center;
  margin: 20px 20px;

}

section {
  display: inline-block;
  width: 65%;
  height: 100vh;
  overflow:auto;
}


ul {
list-style-type: none;
}
